@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

/*
HEX FOR UNIVERSAL HIGHLIGHT COLOR
#A78BFA */

@keyframes slideDown {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

.submenu-open {
  animation: slideDown 0.3s ease-in-out forwards;
}

.submenu-close {
  animation: slideUp 0.3s ease-in-out forwards;
  overflow: hidden;
}
